.footer{
  margin: 20px;
  .content{
    p{
      text-align: center;
      padding-top: 10px;
      span{
        white-space: nowrap;
      }
    }
  }
}

@media (max-width: 770px){
  .footer{
    .content{
      p{
        font-size: 16px;
      }
    }
  }
}